__pycache__/
*.py[cod]
.venv/
venv/
.env
.DS_Store
.ipynb_checkpoints/
data/*.csv
data/*.parquet
!data/.gitkeep
models/*.pkl
models/*.joblib
!models/.gitkeep

# метрики пересчитываются при каждом обучении
models/metrics.json
dist/
models/graph.json
models/experiment_novel.json
